fastapi==0.129.0
uvicorn[standard]==0.41.0
sentence-transformers==5.2.3
transformers==5.2.0
torch==2.10.0
scikit-learn==1.8.0
pandas==3.0.1
numpy==2.3.5
plotly==6.5.2
umap-learn==0.5.11
jinja2==3.1.6
pytesseract==0.3.13
pdf2image==1.17.0
pillow==12.1.1
python-multipart==0.0.22
datasets==3.6.0
