name: Sync with Hugging Face Hub

on:
  push:
    branches:
      - main # This workflow runs when you push to the 'main' branch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Sync with Hugging Face Space
        uses: nateraw/huggingface-sync-action@v0.0.1 # This action handles the synchronization
        with:
        hf_repo_id: Troglobyte/MicroHS # Replace with your actual Hugging Face Space ID
        hf_token: \${{ secrets.HF_TOKEN }} # This is a secret token you'll add in GitHub

